@import "tailwindcss";

@theme {
  --font-serif: var(--font-oceanic), serif;
  --font-sans: var(--font-gilroy), sans-serif;
  --color-navy: #011845;

  --spacing-container: 120px;

  --color-glow: #34508a;
  --color-decor: #496192;

  /* Текст */
  --color-text: #ffffff;
  --color-heading: #e8edff;

  /* Акцент */
  --color-accent: #e9663d;

  --breakpoint-tablet: 1100px;
  --breakpoint-desktop: 1440px;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}

/* date / time — иконки календаря и часов */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

/* search — крестик */
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* ============ Стили для date/time ============ */

input[type="date"],
input[type="time"] {
  color-scheme: dark;
  color: #e8edff;
}

input[type="date"]::-webkit-datetime-edit-text,
input[type="date"]::-webkit-datetime-edit-month-field,
input[type="date"]::-webkit-datetime-edit-day-field,
input[type="date"]::-webkit-datetime-edit-year-field,
input[type="time"]::-webkit-datetime-edit-text,
input[type="time"]::-webkit-datetime-edit-hour-field,
input[type="time"]::-webkit-datetime-edit-minute-field {
  color: #e8edff;
}

.container-x {
  padding-inline: 25px; /* мобилка по умолчанию */
}

@media (min-width: 768px) {
  .container-x {
    padding-inline: 140px; /* планшет */
  }
}

@media (min-width: 1024px) {
  .container-x {
    padding-inline: 120px; /* десктоп */
  }
}
